.columns > div {
  display: flex;
  flex-direction: column;
  width: 1500px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  transition: top 0.3s ease;
}

.columns > div.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}
.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > div:nth-child(1) {
    flex-basis: 50%;
  flex-grow: 0; 
  flex-shrink: 0; 
}
.columns > div > div:nth-child(2) {
  margin-bottom: 1551px;
  flex-basis: 34%;
  flex-grow: 0; 
  flex-shrink: 0; 
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
